[alias]
    st = status
    ci = commit
    di = diff
    br = branch
    co = checkout
[user]
	email = me@andrewbruce.net
	name = Andrew Bruce
[color]
    ui = true
[push]
	default = simple
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
